 <!DOCTYPE html>
<html>

<head>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>jassen cabilangan</title>
</head>
<body>
	    <link href="css/image.css" rel="stylesheet">
	   	<link href="css/card.css" rel="stylesheet">

	</br>
	    <h1 style="text-align: center;">My Favorate Fruit</h1>
	    </body>
	    </html>  
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
 
<div style="margin-left: 350px;" class="container col-sm-12 text-center col-sm-offset-3">
 
			<a href=' ///home/jack/django-apps/webdev/fruit-salad/templates/index.html'>Home</a> |
			<a href=''>About</a> |
			<a href=''>Fav</a>
		
 

</div>	   	
<div class="bg"></div>	   	
 <div class="card">
  <h2><b>Banana</b></h2>
 <img src="jay.jpg" alt="Avatar" class="avatar"> 
  <div class="container">
 	<h3>Description:</h3>
    <small>A banana is an edible fruit  botanically a berry  produced by several kinds of large herbaceous flowering plants in the genus Musa In some countries, bananas used for cooking may be called plantains, in contrast to dessert bananas</small>
 
  </div>
</div> 
 

 

</html> 