 <!DOCTYPE html>
<html>

<head>
<div>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>jassen cabilangan</title>

	    <link href="css/image.css" rel="stylesheet">
	   	<link href="css/card.css" rel="stylesheet">
		</br>
	</br>
	<h1 class="fav">Jassen Cabilangan</h1>
	
   <h1 class="br"></h1>
 
 <p>There are a number of home recipes for fruit salad that contain different kinds of fruit, or that use a different kind of sauce other than the fruit's own juice or syrup. Common ingredients used in fruit salads include strawberries, pineapple, honeydew, watermelon,[1] grapes, and kiwifruit.[2][3] Various recipes may call for the addition of nuts, fruit juices, certain vegetables, yogurt, or other ingredients.</p>

<p>One variation is a Waldorf-style fruit salad, which uses a mayonnaise-based sauce. Other recipes use sour cream (such as in ambrosia), yogurt or even mustard as the primary sauce ingredient. A variation on fruit salad uses whipped cream mixed in with many varieties of fruits (usually a mixture of berries), and also often include miniature marshmallows. Rojak, a Malaysian fruit salad, uses a spicy sauce with peanuts and shrimp paste. In the Philippines, fruit salads are popular party and holiday fare, usually made with buko, or young coconut, and condensed milk in addition to other canned or fresh fruit.</p>

<p>Mexico has popular variation of the fruit salad called Bionico which consists various fruits drenched in condensed milk and sour cream mix.</p>

<p>There is also an extended variety of fruit salads in Moroccan cuisine, often as part of a kemia, a selection of appetizers or small dishes analogous to Spanish tapas or eastern Mediterranean mezze.</p>

<p>A fruit salad ice cream is also commonly manufactured, with small pieces of real fruit embedded in, flavored either with juices from concentrate, fruit extracts, or artificial chemicals.</p>   	
 
 
  </div>
</div> 
 
</div>
 
</head>
<body>
</html> 